<div class="starter-template">
    <h1>Nosotros</h1>
    <p class="lead">Cobalto Discos es una disquería virtual para lxs que amamos la música y queremos compartirla. 
        <br>
        Acá vas a encontrar albumes únicos, en CD, cassette y vinilo, box - set y ediciones limitadas y de colección de bandas alternativas, 
        exponentes de la escena indie y mucho mas. 
        <br>
        Brindamos una atención personalizada, teniendo en cuenta las inquietudes de cada cliente.
        <br> 
        ¡Comunicate con nosotros! <span>contacto@cobaltodiscos.com</span>
    </p>
</div>

