<h1>Productos</h1>
<table class="table text-center">
    <thead class="thead-dark">
        <tr>
            <th>Portada</th>
            <th>Nombre</th>
            <th>Artista</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'alert alert-primary': product.release}">
            <td><img class="portada" [src]="product.image" [alt]="product.name"></td>
            <td>{{product.name}}
                <span class="badge badge-primary" *ngIf="product.release">¡LANZAMIENTO!</span>
            </td>
            <td>{{product.artist}}</td>
            <td>{{product.type}}</td>
            <td>ARS {{product.price | currency}}
                <span class="badge badge-info" *ngIf="product.clearance">OFERTA</span>
            </td>
            <td>
                <span class="badge badge-secondary" *ngIf="product.stock==0">SIN STOCK</span>              
            </td>
            <td>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-secondary btn-sm" (click)="downQuantity(product)">-</button>
                    </div>
                        <input type="number" [(ngModel)]="product.quantity">
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm" (click)="upQuantity(product)">+</button>
                    </div>
            </div>
            </td>
        </tr>
    </tbody>
</table>
