h1 {
    font-weight: bold;
}

.portada {
    width: 200px;
    height: 200px;
}

.clearance {
    border-width: 3px;
    border-color: orange;
}

td {
    vertical-align: middle;
    align-content: center;
}

input {
    max-width: 40px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}